<!DOCTYPE html>
<html lang="FR-fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/test.css">
    <title>Change Password</title>
</head>
<body>
    <main class="container">
        <a style="font-size: 30px; " href="/index.html">&#128281;</a>
        <h1>Changement de mot de passe</h1>
        <form class="card" action="/index.html" method="get">
            <div class="grid3">
                <input class="input" type="email" placeholder="E-Mail" required>
                <input class="input" type="password" placeholder="Nouveau mot de passe" required>
                <input class="input" type="password" placeholder="Confirmer nouveau mot de passe" required>
            </div>
            <div class="row" style="margin-top: 14px;">
                <button class="btn" type="submit"><a href="/index.html">Validé le changement de MDP</a></button>
            </div>
        </form>
    </main>
</body>
</html>