:root {
  --bg: #687a9e;
  --panel: #04276d;
  --line: rgba(255, 255, 255, 0.78);
  --muted: #b9c0cb;
  --accent: #8fd3ff;
  --radius-xl: 34px;
  --radius: 16px;
}

* {
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
}

body {
  margin: auto;
  display: center;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 45px;
}

h1 {
  margin: 12px 0 18px;
  text-align: center;
}

.container {
  width: min(430px, 932px);
  border: 1.5px solid;
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 10px;
  padding: 26px 26px 34px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.08) inset,
    0 24px 60px rgba(255, 255, 255, 0.55);
  min-height: 750px;
  position: relative;
}

.row{
  display: flex;
  justify-content: space-between;
}

.btn,
.btn-outline {
  display: grid;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 30px;
  padding: 0 15px;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.12s, box-shadow 0.12s, background 0.12s;
}

.btn,
.btn-outline2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 0 15px;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.12s, box-shadow 0.12s, background 0.12s;
}

.mdp-oublie{
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.card {
  border: 1.5px solid;
  border-radius: 3px;
  padding: 25px 20px;
  margin: 35px;
}
.grid3{
    display: grid;
    grid-template-columns: repeat(3);
    gap: 12px;
}
